In [1]:
 import sqlite3

In [2]:
db = sqlite3.connect('data.db')

In [3]:
c = db.cursor()

In [5]:
c.execute('create table users(name text, batchid int, marks real)')

In [6]:
c.execute('insert into users values("John", 1, 90)')

In [7]:
c.execute('insert into users values("Jane", 2, 85)')
c.execute('insert into users values("Doe", 3, 80)')
c.execute('insert into users values("Smith", 4, 75)')

In [9]:
data = c.execute('select * from users')

In [10]:
for i in data:
    print(i)

('John', 1, 90.0)
('Jane', 2, 85.0)
('Doe', 3, 80.0)
('Smith', 4, 75.0)